body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header,
nav,
main,
section {
    padding: 20px 40px;
}

header {
    background-image: url('https://s3.dzarlax.dev/header.jpg'); /* Замените 'your-header-background.jpg' на путь к вашему фоновому изображению для хедера */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 80px 0; /* Увеличьте вертикальный отступ для центрирования содержимого */
    position: relative;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px; /* Разрешение между символами */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста */
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0; /* Уменьшаем верхний и нижний отступ */
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 600; /* Увеличиваем жирность шрифта */
    font-size: 18px; /* Увеличиваем размер шрифта */
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

main {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 700;
    font-size: 28px;
    color: #0077b6;
    border-bottom: 3px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

h2:before,
li:before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

h2:before {
    width: 20px;
    height: 2px;
    background-color: #0077b6;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 25px;
}

li {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

li:before {
    content: '•  ';
    color: #0077b6;
    font-size: 24px;
}

li:not(:last-child) {
    margin-bottom: 15px;
}

#lang-switch {
    position: absolute;
    top: 20px;
    right: 40px;
}

#lang-switch button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}

#lang-switch button:hover {
    color: #0077b6; /* Цвет при наведении */
}

#contact .contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-start;
}

#contact .contact-button {
    font-size: 18px;
    padding: 10px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact .contact-button:hover {
    background-color: #0055aa;
}

.contact-button {

    max-width: 200px; /* Установите желаемую максимальную ширину */
    margin-right: 10px;
}

#experience span {
    display: block;
    color: #666;
}

.skill-tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e1e1e1;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/* Стили для больших экранов (например, десктоп) */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.tooltip {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень для лучшего визуального восприятия */
}


/* Стили для экранов шириной менее 768px (мобильные устройства) */
@media (max-width: 768px) {
    header, nav, main, section {
        padding: 10px 20px; /* Уменьшаем отступы для мобильных экранов */
    }

    header {
        padding: 60px 0; /* Увеличиваем вертикальный отступ для хедера на мобильных экранах */
    }

    h1 {
        font-size: 36px; /* Уменьшаем размер шрифта для h1 на мобильных экранах */
    }

    h2 {
        font-size: 24px; /* Уменьшаем размер шрифта для h2 на мобильных экранах */
    }

    nav {
        flex-direction: column;
        align-items: center; /* Центрируем элементы по горизонтали */
        text-align: center; /* Центрируем текст по горизонтали */
    }

    nav a {
        padding: 10px 0;
        width: 100%;
    }

    #lang-switch {
        top: 10px; /* Уменьшаем верхний отступ для переключателя языков на мобильных экранах */
        right: 20px; /* Уменьшаем правый отступ для переключателя языков на мобильных экранах */
    }
    .tooltip {
        display: none;
        position: absolute;
        background: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        max-width: 300px;
        z-index: 1000;
    }
}
