:root{
    --bg-color: #ffffff;
    --header-text-color: #fff;
    --h2-color: #262626;
    --text-color: #7f7f7f;
    --button-bg-color: #d9d9d9;
    --button-text-color: #4c4c4c;
    --button-hover-bg-color: #d9d9d9;
    --button-hover-text-color: #4c4c4c;
    --skill-bg-color: #348bdc;
    --skill-text-color: #fff;
    --list-icon-color: #262626;
    --popover-bg-color: var(--bg-color);
    --popover-text-color: var(--text-color);
    --popover-border-color: #b2b2b2;
    --popover-shadow-color: #b2b2b2;
}

[dark-mode]{
    --bg-color: #221d22;
    --header-text-color: #fff;
    --h2-color: #deddde;
    --text-color: #bdbcbd;
    --button-bg-color: #210721;
    --button-text-color: #bdbcbd;
    --button-hover-bg-color: #656165;
    --button-hover-text-color: #deddde;
    --skill-bg-color: #4aa1f2;
    --skill-text-color: #fff;
    --list-icon-cloolr: #deddde;
    --popover-bg-color: var(--bg-color);
    --popover-text-color: var(--text-color);
    --popover-border-color: #656165;
    --popover-shadow-color: #656165;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

element.style {
    scroll-behavior: smooth;
}


header,
nav,
main,
section {
    padding: 20px 40px;
}

header {
    background-image: url('https://s3.dzarlax.dev/header.jpg');
    background-size: cover;
    background-position: center;
    color: var(--header-text-color);
    text-align: center;
    padding: 80px 0;
    position: relative;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

nav a,
#contact .contact-button {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--button-text-color);
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--button-bg-color);
    border: none;
}

nav a:hover,
#contact .contact-button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
    box-shadow: 0px 4px 4px 0px var(--button-hover-bg-color);
}

h2 {
    font-weight: 700;
    font-size: 28px;
    color: var(--h2-color);
    border-bottom: 3px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}


h2:before,
li:before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

h2:before {
    width: 20px;
    height: 2px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 25px;
}

li {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

li:before {
    content: '•  ';
    color: var(--list-icon-color);
    font-size: 24px;
}

li:not(:last-child) {
    margin-bottom: 15px;
}

#lang-switch {
    position: absolute;
    top: 20px;
    right: 40px;
}

#lang-switch button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    color: #0077b6;
}

.active-lang {
    text-decoration: underline;
}

/* Оформление переключателя */
.switch {
    left: 10px;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

/* Скрыть стандартный checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Стили для слайдера */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(10px);
}

/* Добавить "выключенное" и "включенное" положение */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#contact .contact-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}


.skill-tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--skill-bg-color);
    color: var(--skill-text-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.skill-tag:hover{
    background-color: var(--skill-bg-color);
    color: var(--skill-text-color);
    box-shadow: 0px 4px 4px 0px var(--skill-bg-color);
}

.popover {
    position: absolute;
    border: 1px solid var(--popover-border-color);
    background-color: var(--popover-bg-color);
    color: var(--popover-text-color);
    padding: 10px;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--popover-shadow-color);
  }
  
/* Стили для экранов шириной менее 768px (мобильные устройства) */
@media (max-width: 768px) {

    header,
    nav,
    main,
    section {
        padding: 10px 20px;
        /* Уменьшаем отступы для мобильных экранов */
    }

    header {
        padding: 60px 0;
        /* Увеличиваем вертикальный отступ для хедера на мобильных экранах */
    }

    h1 {
        font-size: 36px;
        /* Уменьшаем размер шрифта для h1 на мобильных экранах */
    }

    h2 {
        font-size: 24px;
        /* Уменьшаем размер шрифта для h2 на мобильных экранах */
    }

    nav,
    #contact .contact-buttons {
        flex-direction: column;
        align-items: center;
        /* Центрируем элементы по горизонтали */
        text-align: center;
        /* Центрируем текст по горизонтали */
    }

    nav a,
    #contact .contact-button,
    .skill-tag {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }


    #lang-switch {
        top: 10px;
        /* Уменьшаем верхний отступ для переключателя языков на мобильных экранах */
        right: 20px;
        /* Уменьшаем правый отступ для переключателя языков на мобильных экранах */
    }
    .collapsible-content {
        transition: max-height 0.2s ease-out;
        overflow: hidden;
        max-height: 0; /* Начальное состояние будет без высоты, так что текст скрыт */
        /* Добавьте необходимые стили для отображения */
    }
    .skill-tag.active + .collapsible-content {
        max-height: 100px; /* Примерная максимальная высота, достаточная для вашего содержимого */
        margin-top: 5px;
        margin-bottom: 5px;
        /* Другие стили для активного состояния если нужно */
    }
 
}